body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
}

.hidden {
  display: none;
}

#loginSection {
  max-width: 660px;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

#loginForm {
  display: grid;
  margin: 20px auto;
}

#loginForm input {
  margin: 6px 0;
  padding: 12px 12px;
  border: none;
  outline: none;
  background-color: #444;
  color: white;
}

#loginForm input::placeholder {
  color: white;
}

#mainHeader {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

aside {
  width: 200px;
  background: #444;
  color: #fff;
  padding: 1rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

aside nav ul {
  list-style-type: none;
  padding: 0;
}

aside nav ul li {
  margin: 1rem 0;
}

aside nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin-left: 220px;
  padding: 1rem;
  width: calc(100% - 220px);
}

h1,
h2 {
  margin-top: 0;
}

#storyForm input,
#storyForm textarea,
#storyForm button,
.choiceInput,
/* #loginForm input,
#loginForm button, */
#predefinedChoices select,
#editStoryForm input,
#editStoryForm textarea,
#editStoryForm button,
#editPredefinedChoices select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#choicesContainer .choiceItem,
#editChoicesContainer .choiceItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.choiceInput {
  flex-grow: 1;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #555;
}

.storyCard {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.storyCard h3 {
  margin-top: 0;
}

.storyCard button {
  margin-right: 0.5rem;
}

#predefinedChoices,
#editPredefinedChoices {
  margin-top: 1rem;
}

#predefinedChoices label,
#editPredefinedChoices label {
  display: inline-block;
  margin-right: 1rem;
}
